body {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: white;
    margin:0px;
}

.bgimage {
    position: absolute;
    background-image: url(img/wallpaper-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    opacity: 0.85;
    z-index: -1;
}

.name {
    font-size: 25px;
    padding: 5px 5px;
    margin: 0px 0px 0px 0px;
    text-shadow: 1px 1px 7px black;
}

#charname {
    font-weight: bold;
}

.statsline > p {
    font-size: 20px;
    padding: 0px 0px 10px 5px;
    margin: 0px;
    text-shadow: 1px 1px 7px black;
}

.statsline {
    display: flex;
}

.fightcontainer {
    padding: 50px 0px 50px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#inputname {
    height: 30px;
    width: 200px;
    box-sizing: border-box;
}

.fightarea {
    width: 80vw;
    max-width: 800px;
    height: 300px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.fighters {
    width: 45%;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

#char {
    align-items: baseline;
}

#monster {
    align-items: end;
}

.lifebar {
    width: 100%;
    height: 35px;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.bar {
    background-color: rgb(4, 223, 4);
    height: 25px;
    margin: 0px 5px;
    border: 1px solid black;
    transition: width .5s, background-color 1s;
}

.icon{
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 150px;
    height: 100px;
    width: 100px;
    margin: 25px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-repeat: no-repeat;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-size: 106%;
    border: hidden;
    box-sizing: border-box;
    border-radius: 5px;
}

#charicon {
    background-color: #000000;
    background-size: 100%;
}

#monsicon {
    background-image: url(img/small-monster.png);
    height: 100px;
    background-color: #000000;
}

.button {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
    width: 100px;
}

#logcontainer {
    height: 35vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.log {
    position: absolute;
    color: black;
    margin:0px;
    padding: 0px;
    height: 35vh;
    width: 80vw;
    max-width: 800px;
    overflow-y: scroll;
    background-color: #ffffff73;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gender-container {
    display: flex;
    width: 200px;
    height: 100px;
    align-items: center;
    justify-content: space-around;

}

.options-container {
    display: flex;
    height: 90px;
    width: 90px;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-size: contain;
}

.options-container:hover {
    box-shadow: 0 0 5px 1px rgb(255, 255, 255);
}

#man {
    background-image: url(img/man.png);
}

#woman {
    background-image: url(img/girl.png);
}

.options {
    cursor: pointer;
    width: 0px;
    height: 0px;
}

#newchar {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index:3;
}

#newcharbutton {
    margin: 10px 5px 10px 5px;
    padding: 0px;
}

#blurr {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity:0.95;
    z-index: 2;
}

#gameover, #victory {
    margin: 0px;
    padding: 0px;
    font-size: 10em;
    z-index: 3;
    text-align: center;
}

#gameover {
    color: red;
}

.gameovercontainer, .victorycontainer {
    position: absolute;
    display: none;
    height: 100%;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#newgamebutton, #victorybutton {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: white;
    border-radius: 5px;
    z-index: 3;
    height: 50px;
    width: 150px;
}

#newgamelink {
    z-index: 3;
}

#victory {
    color: rgb(51, 255, 0);
}